@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
     padding: 0;
      box-sizing: border-box;
       text-decoration: none;
        outline: none;
        font-family: "Acme", sans-serif;
}
html{
    font-size: 62,5%;
    scroll-padding-top: 80px;
}
body{
    width: 100%;
     height: 100%;
      background-color: rgb(0, 0, 0);
       color: rgb(255, 0, 0)
}
header{
    margin-top: 20px;
     position: fixed;
      top: 0;
       left: 0;
        width: 100%;
         padding: 2rem 9%;
          background-color: transparent;
           display: flex;
            justify-content: space-between;
             align-items: center;
              z-index: 100;
}
.logo{
 font-size: 2rem;
color: rgb(255, 0, 0);
font-weight: 800;
cursor: pointer;
transition: all 0.5s ease;
}
.logo:hover{
transform: scale(1.1);
 color: rgb(255, 215, 0);
   border-bottom: 3px solid rgb(255, 215, 0);
}
nav a{
   font-size: 1.5rem;
   color: rgb(255, 0, 0);
   margin-left: 4rem;
   font-weight: 500;
   transition: 0.3s ease;
}
nav a:hover,
nav a:active{
   color: gold;
   border-bottom: 3px solid rgb(255, 215, 0);
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display:flex;
     justify-content: center;
      align-items: center;
       gap: 8rem;
        background-color: rgb(0, 0, 0);
}
.home-content{
    font-size: 2rem;
 
}
.home-content span{
    color: gold;
}
home-img{
    width: 32vh;
}
.home-img img{
    position: relative;
     width: 60vh;
      cursor: pointer;
       transition: 0.3s ease;
}
.home .img:hover{
    transform: scale(1.1);
}
#battle-beast{
    width: 400px;
     height: 600px;
     transition: 0.3s ease;
}
#battle-beast:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.social-icons a{
    display: inline-flex;
     justify-content: center;
      align-items: center;
       width: 4rem;
        height: 4rem;
         background-color: transparent;
          font-size: 2rem;
           border: 0.2rem solid rgb(255, 0, 0);
           border-radius: 50%;
           color: crimson;
           margin: 3rem 1.5rem 3rem 0;
           transition: 0.3s ease;
}
.social-icons a:hover{
    color: rgb(255, 215, 0);
    background-color: rgb(0, 0, 0);
    transform: scale(1.3);
    box-shadow: 0 0 25px rgb(255, 0, 0);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: transparent;
    border-radius: 4rem;
    border: 2px solid rgb(255, 0, 0);
    font-size: 1.6rem;
    color: red;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color: rgb(0, 0, 0);
    color: gold;
    box-shadow: 0 0 25px red;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    max-width: 520px;
    }
    .typing-text span{
        position: relative;
    }   
    .typing-text span::before{
        content: "";
        color: gold;
        animation: words 20s infinite;
}
.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(0, 0, 0);
    animation: cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid gold;
    }
}
@keyframes words{
    0%, 20%{
        content: "Aluno";
    }
    21%, 40%{
        content: "Téc. de Info";
    }
    41%, 60%{
        content: "Fortnite PRO PLAYER";
    }
    61%, 80%{
        content: "CLT";
    }
    81%, 100%{
        content: "Negritude das ruas";
    }
}
@media(max-width: 995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid color gold;
        border-bottom: 3px solid color gold;
        padding: 1rem;
        background-color: gold;
        border-top: 0.1rem solid gold;
    }
}
nav.active{
    display: block;
}
nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    }
    nav a:hover,
    nav.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid gold;
    }
    @media (max-width:100px){
        .home{
            gap:4rem;
        }
    }
    @media (max-width: 995px){
        .home{
            flex-direction: column;
            margin: 5rem 4rem;
        }
        .home .home-content h3{
            font-size: 2.5rem;
        }
        .home-content h1{
            font-size: 4rem;
        }
        .home-img img{
            width: 70vw;
            margin-top: 4rem;
        }
    }
    /*ocultar o checkbox*/
    .menu-toggle{
        display: none;
    }
    /*criar icone de hamburguer*/
    .menu-icon{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        cursor: pointer;
        z-index: 101;
    }
    .menu-icon span{
        display: block;
        height: 4px;
        background-color: gold;
        border-radius: 2px;
    }
     @media(max-width: 995px){ 
        .menu-icon{
            display: flex;
        }
    }
    #menu-toggle:checked ~ nav{
        display: block;
    }
    .blocos h3{
        font-size: 3rem;
        margin-bottom: 2rem;
        border-left: 5px solid;
        padding-left: 1.5rem;
        color: gold;
    }
    .blocos p{
        font-size: 1.8rem;
        line-height: 1.7;
        color: gold;
    }